


#qualificationsPageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
}

#qualificationsPageTitle
{
    grid-column-start: 2;
    grid-column-end:3;

    font-family:'Bauhaus 93';

    font-size:xx-large;

}

#qualificationsContainer
{
    margin-left:50px;

}

.qualificationsTitle
{

}