

#projectsPageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
}

#projectsPageTitle {
    grid-column-start: 2;
    grid-column-end: 3;
    font-family: 'Bauhaus 93';
    font-size: xx-large;
    text-align: center;
}

#projectsContainer {
    margin-left: 50px;
}

.shortCut {
    text-align: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.repoLink {
    margin-bottom: 50px;
}